.t0 {
    font-weight: bold;
    color: #0000ff;
}

.t5 {
    color: #5379f7;
}

.t10 {
    color: #51dcff;
}

.t15 {
    color: #a0effd;
}

.t20 {
    color: #c3f3ff;
    }

.t25 {
    color: #ffffff;
    }

.t30 {
    color: #faf75e;
}

.t35 {
    color: #ffe922;
}

.t40 {
    color: #ffa217;
}

.t45 {
    color: #ff5100;
}

.t50 {
    font-weight: bold;
    color: #ff0000;
}