.limon {
    color: lemonchiffon;
}

.kiwi {
    color:  rgb(174, 235, 61);
}

.banana {
    color: #fbff00;
}

.manzana {
    color: rgb(255, 0, 0);
}

.pomelo {
    color: #fda38d;
}

.uva {
    color: rgb(153, 0, 255);
}

.naranja {
    color: #ff7b00;
}

.sandia {
    color: rgb(16, 193, 39);
}

.frutilla {
    color: #fc16a4;
}